@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  line-height: 1.33em;
}

a {
  color: #124559;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 1.33em;
}
p:last-of-type {
  margin-bottom: 0;
}

h1 {
  line-height: 1.33em;
}

header {
  display: flex;
}
header h1 {
  font-weight: normal;
  width: calc(40% - 40px);
  padding: 30px 10px 30px 30px;
}
header .intro_text {
  width: calc(40% - 40px);
  padding: 30px 30px 30px 10px;
}
header .contact {
  width: calc(20% - 60px);
  padding: 30px 30px 30px 30px;
}

.wrapper {
  width: 100%;
}

.biweek_wrapper {
  position: relative;
  border-top: 1px solid #eeeeee;
}
.biweek {
  display: flex;
  padding: 20px;
  width: calc(80% - 40px);
  position: relative;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 4 - 60px);
  min-width: 190px;
  padding: 20px;
  margin: 10px;
  display: block;
  vertical-align: top;
  background-color: #eeeeee;
}
.day.done {
  background-color: #dce5dd;
}
.day.crosstrain {
  background-color: #fef0e1;
}
.day .date {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
}
.day .run_type {
  display: inline;
}
.day .run_type:before {
  content: "•";
}
.day .milage {
  font-size: 0.85em;
  line-height: 1.33em;
  text-transform: uppercase;
}
.day .run_description {
  margin-top: 10px;
  font-size: 0.85em;
  line-height: 1.33em;
}
.day .related_runs {
  font-size: 0.85em;
  line-height: 1.33em;
}
.day .related_runs .related_run {
  margin-top: 10px;
}
.day .related_runs .related_run .time_of_day {
  display: inline;
  font-weight: bold;
}
.day .related_runs .related_run .run_title {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
}
.day .related_runs .related_run .run_title:before {
  content: "•";
  margin-right: 5px;
  margin-left: 5px;
}
.day .related_runs .related_run .run_data .run_milage {
  display: inline-block;
  margin-right: 15px;
}
.day .related_runs .related_run .run_data .run_pace {
  display: inline-block;
  margin-right: 15px;
}
.day .related_runs .related_run .run_data .run_elapsed {
  display: inline-block;
}
.day .related_runs .related_run .run_notes {
  margin-top: 10px;
}

.bw_totals {
  position: absolute;
  left: 80%;
  top: 0px;
  padding: 40px 20px;
  right: 20px;
  bottom: 0px;
  border-left: 1px solid #eeeeee;
}
.bw_totals .gift {
  margin-top: 1.33em;
}

@media screen and (max-width: 1299px) {
  .biweek {
    width: calc(70% - 40px);
  }

  .bw_totals {
    left: 70%;
  }
}
@media screen and (max-width: 1128px) {
  header {
    flex-wrap: wrap;
  }
  header h1 {
    width: calc(100% - 60px);
    padding: 30px;
  }
  header .intro_text {
    width: calc(70% - 60px);
    padding: 30px 30px 30px 30px;
  }
  header .contact {
    width: calc(30% - 60px);
  }

  .day {
    width: calc(100% / 2 - 60px);
  }
}
@media screen and (max-width: 771px) {
  header .intro_text {
    width: calc(100% - 60px);
    padding-bottom: 0;
  }
  header .contact {
    width: calc(100% - 60px);
  }

  .biweek {
    width: calc(100% - 40px);
  }

  .day {
    width: calc(100% - 60px);
  }

  .bw_totals {
    left: 0;
    right: 0;
    position: relative;
    width: calc(100% - 60px);
    border-left: none;
    padding: 0px 30px 20px;
  }
}
